<ActionBar title="Account Settings" backgroundColor="orange">
</ActionBar>

<side-drawer-page>
        <StackLayout>
                
        <Label text="User ID" textWrap="true" class="h3 p-l-10 p-r-25 p-t-30 text-left"></Label>
         
        <TextView editable="false">
                <FormattedString>
                    <Span text="1020151825632"></Span>
                   
                </FormattedString>
            </TextView>    

            <Label text="Registered Mobile" textWrap="true"></Label>
            
           <TextView editable="false">
                   <FormattedString>
                       <Span text="7842581405"></Span>
                      
                   </FormattedString>
               </TextView>    

               <Label text="Registered Mail" textWrap="true"></Label>
               
              <TextView editable="false">
                      <FormattedString>
                          <Span text="info@locker.com"></Span>
                         
                      </FormattedString>
                  </TextView>    
            
                  <Label text="Produck Key" textWrap="true" class="h3 p-l-10 p-r-25 p-t-30 text-left"></Label>
                  <Label text="LOCPROSR&@124" textWrap="true"></Label>

                  <Label text="Address" textWrap="true" class="h3 p-l-10 p-r-25 p-t-30 text-left"></Label>
                  <Label text="1 Bethany Road, Suite 40,"></Label>
                    <Label text="Hazlet,New Jersey 07730 ,USA"></Label>
                  
                    <Label text="Tel : +1 732 313 0016 / +1 732 567 2095"></Label>
                    <Label text="email : usa.nj@srishtibiz.com"></Label>
                 
                </StackLayout>
  
</side-drawer-page>
