<ActionBar title="New Connection" backgroundColor="orange">
</ActionBar>

<side-drawer-page>
        <TextView editable="false">
                <FormattedString>
                    <Span text="Your locker is in Bengaluru "></Span>
                    
                    <Span text="Change Locker location." textDecoration="Underline"></Span>
                </FormattedString>
            </TextView>
          
            <WrapLayout orientation="horizontal" width="500" height="200" >
                    <Label text="Add Connection" width="250" height="100" backgroundColor="white" class="h2 p-l-15 p-r-15 p-t-15 text-left"></Label>
                   
                    <Label text="Connection Details" width="250" height="100" backgroundColor="white" class="h2 p-l-15 p-r-15 p-t-15 text-left"></Label>
                </WrapLayout>       
</side-drawer-page>
