<ActionBar title="Compose Mail" backgroundColor="orange">
</ActionBar>

<side-drawer-page>
        <StackLayout>
                <TextField hint="From" keyboardType="email"
                  autocorrect="false" autocapitalizationType="none"></TextField>
                <TextField hint="To : info@locker.com" ></TextField>
                <TextField hint="Feedback" ></TextField>
          
                <Button text="Send Feedback"></Button>
                
              </StackLayout>
  
</side-drawer-page>
