<ActionBar title="About Locker" backgroundColor="orange">
</ActionBar>

<side-drawer-page>

        <StackLayout>
            
    <Label text="Security Locker" textWrap="true" class="h2 p-l-30 p-r-25 p-t-30 text-left"></Label>
     
    <TextView editable="false">
            <FormattedString>
                <Span text="*** Congratulations! Security Lock is highly praised including Android Community ***  With this app, you don't have to worry about your private information on your phone to be exposed to other people, you don't have to worry about your kids messing your phone up by changing the settings.
                App Lock NEW is an App Locker or App Protector that will protect your installed applications using a password or pattern!(Facebook, WhatsApp, Line, Twitter, Snap chat, Skype, Gallery, Camera, Gmail and any app you choose) Easy to use passcode security to securing your apps.App Lock NEW - App Protector can lock your contacts, calls, e-mail, sms, photos or any app in your phone or tablet. Set passcode at first time and set recovery email address in App Lock. Recovery email address will help you to store your passcode in your email, which will help you to remember when you forget your pass code."></Span>
               
            </FormattedString>
        </TextView>    
        
            </StackLayout>
  
  
</side-drawer-page>
